# dependencies
node_modules/
**/node_modules/

# next.js
app/.next/
app/out/

# production
build/
**/build/

# env files
.env*
**/ .env*

# debug
*.log
**/ *.log

# misc
.DS_Store
*.pem
.vercel
**/ .vercel

# typescript
*.tsbuildinfo
app/next-env.d.ts

# database
*.db
api/uploads/
